body {
  font-family: 'Quicksand', sans-serif;
   background-color: #bed3f4;

}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #16366b;
  text-align: center;
}

h2 {
  border-style: dashed;
  padding: 20px;
  margin: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;

}
